@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply h-full bg-black;
}

body {
  @apply h-full bg-black;
}

#root {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.253);
}
